<!DOCTYPE html>
<html>
<head>
  <title>Devicraft</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #EEEEEE">
<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand">DeviCraft</a>
      <ul>
        <li class="active"><a>Home</a></li>
        <li><a>Players</a></li>
        <li><a>Objects</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="content">
    <div class="page-header">
      <h1>
        <%= @title || "Devicraft"%>
        <small>Do what you want to do!</small>
      </h1>
    </div>
    <%= yield %>
  </div>
</div>

</body>
</html>

